@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Bruno Ace', sans-serif;
    background: radial-gradient(circle, #3e4b4d 0%, #1b2020 60%, #101213 100%);
}

@theme {
    --font-custom: "Kosugi Maru", "Noto Sans JP", "sans-serif";
}
